.nav-bar-style {
    background-color: rgba(2, 45, 109, 0.85);
    height: 60px;
    /* width: 100%; */
}

.after-line h4 {
    position: relative;

}

.after-line h4::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #383a3d;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}

/* schedule */

.container-schedule-header {
    font-size: 40px;
    width: 100%;
    background: rgb(251, 255, 169);
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 60px ;

}

.custom-paragraph {
    font-size: 16px;
    color: aliceblue;
}

.button-schedule {
    font-weight: 700;
    color: white;
    background-color: rgba(251, 23, 23, 0.85);
}

.button-schedule:hover {
    background-color: rgba(255, 0, 0, 0.85);
    border: none;
}
.btn-blue{
    background-color: #022D6D;
    color: white;
}