.nav-bar-style {
    background-color: rgba(2, 45, 109, 0.85);
    height: 60px;
    /* width: 100%; */
}

.after-line h4 {
    position: relative;

}

.after-line h4::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #022D6D;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}